*, *::before, *::after {
    box-sizing: border-box;
}

:root {
  /* evergarden winter */
  --red: #f57f82;
  --orange: #f7a182;
  --yellow: #f5d098;
  --green: #cae0a7;
  --aqua: #addeb9;
  --skye: #ace0d4;
  --blue: #b2cfed;
  --purple: #d0bbf0;
  --pink: #f3c0e5;
  --text: #f8f9e8;
  --subtext1: #adc9bc;
  --subtext0: #96b4aa;
  --overlay2: #839e9a;
  --overlay1: #6f8788;
  --overlay0: #58686d;
  --surface2: #4a585c;
  --surface1: #3d494d;
  --surface0: #2d393d;
  --base: #1d2428;
  --mantle: #191e21;
  --crust: #171c1f;

  /* green from light scheme */
  --accent: #a9be88;

  @media (prefers-color-scheme: light) {
    /* evergarden summer */
    --red: #c0696b;
    --orange: #ca8c70;
    --yellow: #cbae75;
    --green: #a9be88;
    --aqua: #91bb9c;
    --skye: #8fbab5;
    --blue: #8ca4bb;
    --purple: #b19ac6;
    --pink: #d0a3c3;
    --text: #171c1f;
    --subtext1: #415055;
    --subtext0: #526469;
    --overlay2: #63787d;
    --overlay1: #758a90;
    --overlay0: #879da4;
    --surface2: #9cb2b8;
    --surface1: #b4c6cc;
    --surface0: #ced9e0;
    --base: #e9ebf0;
    --mantle: #e1e5ed;
    --crust: #d6dbe9;

    --accent: var(--subtext0);
  }

  line-height: 1.5;
  font-size: 1.1rem;
  overflow-wrap: break-word;
  font-family: "Maple Mono", monospace;
}

@font-face {
  font-family: 'Maple Mono';
  src: local('Maple Mono'), local('MapleMono'),
       url('/static/MapleMono-Regular.ttf.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  background-color: var(--base);
  color: var(--text);
  text-align: center;
}

h1.title {
  background-color: var(--crust);
  color: var(--subtext1);
  border-radius: 1.5rem;
  max-width: fit-content;
  margin: 1rem auto;
  padding: 0.5rem 2.5rem;
}

nav {
  margin-bottom: 1rem;
}

body > nav > * {
  margin-left: 5%;
  margin-right: 5%;
}

.pseudo-link {
  font-size: 1.2rem;
  font-weight: bold;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
}

a:link {
  color: var(--green);
}

a:visited {
  color: var(--pink);
  @media (prefers-color-scheme: light) {
    color: var(--purple);
  }
}

a.no-visited {
  color: var(--green);
  @media (prefers-color-scheme: light) {
    color: var(--subtext0);
    text-decoration: underline;
  }
}

a:hover, a:active {
  color: var(--aqua);
}

.alerts {
  display: grid;
  grid-template-columns: minmax(0, max-content);
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;

  div {
    background: var(--overlay2);
    color: var(--surface0);
    border: 0.3rem solid var(--orange);
    padding: 0.5rem;
    border-radius: 2rem;
    text-align: center;
    list-style-type: none;

    h2 {
      font-size: 1.3rem;
    }
  }
}

.weather-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  align-items: flex-start;
}

.weather-container > div {
  flex: 1 1 auto;
  border: 0.25rem solid var(--accent);
  background-color: var(--surface1);
  color: var(--text);
  text-align: center;
  margin: 2% 1%;
  max-width: 360px;
  border-radius: 3rem;
}

.weather-container > div > p {
  text-align: justify-all;
  margin: 5%;
}

.weather-container > div > img {
  border-radius: 8px;
  border: 0.2rem solid var(--accent);
  padding: 1px;
  background: black;
}

.ct-series .ct-line {
  stroke: var(--red);
}

.ct-label {
  color: var(--subtext1);
  font-size: 0.9rem;
}

.ct-horizontal {
  max-width: 2ch;
}

@media screen and (max-width: 768px) {
  .ct-labels > foreignObject .ct-label.ct-horizontal.ct-end {
    transform: translateX(-50%);
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .ct-labels > foreignObject:not(:first-of-type) .ct-label.ct-horizontal.ct-end {
    transform: translateX(-50%);
    text-align: center;
  }

  .severe-alert > p {
    max-width: 65vw;
  }
}

.ct-grid {
  stroke: var(--text);
  opacity: 0.2;
}

line.ct-horizontal {
  display: none;
}
