<!doctype html>
<title>Weather for {{ current_location.long_name }}</title>
<meta name="viewport" content="width=device-width, intitial-scale=1.0">
<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

<h1>Weather for {{ current_location.long_name }}</h1>

<nav>
{% for short_name in available_locations %}
<span>
{% if short_name == current_location.short_name %}
<span class="pseudo-link">{{ short_name }}</span>
{% else %}
<a class="no-visited" href="/{{ short_name }}">{{ short_name }}</a>
{% endif %}
</span>
{% endfor %}
</nav>

{% if alerts %}
{% for alert in alerts %}
<!-- TODO differentiate by severity -->
<div class="severe-alert">
  <h2>{{ alert.event }} until {{ alert.expires }}</h2>
  <p>{{ alert.description }}</p>
</div>
{% endfor %}
{% endif %}

<div class="ct-chart"></div>
<script>
{% include 'chart.js' %}
</script>
<!-- TODO noscript>
  {% for hour in hourly %}
  <div>
    <p>{{ hour.startTime }}</p>
    <p>{{ hour.fahrenheit }}°F / {{ hour.celsius }}°C</p>
    <p>{{ hour.shortForecast }}</p>
    <p>{{ hour.endTime }}</p>
  </div>
{% endfor %}
</noscript -->

<div class="weather-container">
  {% for period in forecast %}
  <div>
    <h1>{{ period.name }}</h1>
    <h2>{{ period.fahrenheit }}°F / {{ period.celsius }}°C</h2>
    <img src="{{ period.icon | replace('medium', 'large') }}" alt="weather icon"/>
    <p>{{ period.detailedForecast }}</p>
  </div>
  {% endfor %}
</div>

<footer><a href="https://git.sr.ht/~pvsr/weather">Source code</a></footer>
