{% extends 'base.html' %}

{% block title %}
Weather for {{ location }}
{% endblock %}

{% block content %}
<h1>Weather for {{ location }}</h1>

<nav>
{% for preset in presets %}
<span>
{% if preset == current_preset %}
<span class="pseudo-link">{{ preset }}</span>
{% else %}
<a class="no-visited" href="/{{ preset }}">{{ preset }}</a>
{% endif %}
</span>
{% endfor %}
</nav>

{% if alerts %}
{% for alert in alerts %}
<p class="severe-alert">{{ alert.event }} until {{ alert.expires }}</p>
{% endfor %}
{% endif %}

<div class="weather-container">
  {% for period in forecast %}
  <div>
    <h1>{{ period.name }}</h1>
    <h2>{{ period.fahrenheit }}°F / {{ period.celsius }}°C</h2>
    <img src="{{ period.icon | replace('medium', 'large') }}" alt="weather icon"/>
    <p>{{ period.detailedForecast }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}
